/*
Obsidian Pallete: http://www.colorem.net/en/?huein=132&satin=20&lightin=30&cin=33&min=0&jin=26&nin=64&redin=61&greenin=91&bluein=67%0D%0A&hexin=3D5B43&format=&association=1#affiche
 */
html {
	overflow-x: hidden;
}

body {
	background: rgba(240, 240, 240, 1);
	background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(155, 155, 155, 1) 47%, rgba(60, 60, 60, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240, 240,
		240, 1)), color-stop(47%, rgba(155, 155, 155, 1)),
		color-stop(100%, rgba(60, 60, 60, 1)));
	background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(155, 155, 155, 1) 47%, rgba(60, 60, 60, 1) 100%);
	background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(155, 155, 155, 1) 47%, rgba(60, 60, 60, 1) 100%);
	background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%,
		rgba(155, 155, 155, 1) 47%, rgba(60, 60, 60, 1) 100%);
	background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%,
		rgba(155, 155, 155, 1) 47%, rgba(60, 60, 60, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0',
		endColorstr='#3c3c3c', GradientType=0);
}

h2 {
	font-size: 25px;
	font-weigth: 400;
}

.os-task-cat {
	padding: 2px 4px;
	color: #fff;
	font-weight: 300;
	webkit-border-radius: 2px;
	moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
}

.os-alert {
	margin-top: 20px;
	z-index: 999;
}

/* .close {
	padding-right: 20px !important;
} */
.btn-obsidian {
	background-color: #3D5B43 !important;
	color: #fff !important;
}

.btn-obsidian:hover {
	background-color: #4d4d4d !important;
	color: #fff !important;
}

.white {
	color: #fff !important;
}

.hr-solid {
	border-top: 1px solid #E5E5E5;
	color: #ffffff;
	background-color: #ffffff;
	height: 1px;
	margin: 20px 0;
}

.breadcrumb {
	background-color: #222222 !important;
}

.breadcrumb .breadcrumb-item>a {
	color: #fff !important;
}

.os-margin-5 {
	margin: 5px !important;
}

.os-margin-right-5 {
	margin-right: 5px !important;
}

.os-margin-top-5 {
	margin-top: 5px !important;
}

.os-panel {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 17px;
	display: inline-block;
	background: #fff;
	border: 1px solid #E6E9ED;
	-webkit-column-break-inside: avoid;
	moz-column-break-inside: avoid;
	column-break-inside: avoid;
	opacity: 1;
	transition: all .2s ease;
}

.os-title {
	border-bottom: 2px solid #E6E9ED;
	padding: 1px 5px 6px;
	margin-bottom: 40px;
}

.os-title h2 {
	margin: 5px 0 6px;
	float: left;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
}

.btn-primary {
	background-color: #222 !important;
	border-color: #222 !important;
}

.btn-table, .btn-table:hover, .btn-table:active, .btn-table:focus {
	background-color: transparent !important;
	border-color: transparent !important;
	height: 0px;
	outline: 0 !important;
}

.pagination>li>a, .pagination>li>span {
	color: #222;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	background-color: #222 !important;
	border-color: #222 !important;
}

.pagination .page-item .page-link>i {
	height: 20px !important;
	line-height: 20px !important;
}

/* Fix panel toolbox for bootstrap sm and xs*/
@media ( max-width : 767px) {
	.panel-toolbox {
		position: absolute;
		right: 10px;
		line-height: 5px;
	}
}

.bootstrap-timepicker-widget.dropdown-menu {
	z-index: 1050 !important;
}

textarea {
	resize: none;
}

td {
	vertical-align: middle ! important;
}

.ui-autocomplete-input {
	border: none;
	font-size: 14px;
	width: 300px;
	margin-bottom: 5px;
	border: 1px solid #DDD !important;
	z-index: -1;
	position: relative;
}

.ui-menu .ui-menu-item a {
	font-size: 12px;
}

.ui-autocomplete {
	position: absolute;
	top: 32px;
	left: 38px;
	float: left;
	display: none;
	min-width: 160px;
	width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.ui-menu-item>a.ui-corner-all {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
	text-decoration: none;
}

.ui-state-hover, .ui-state-active {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}

/* Fix Gbplugin Internet Banking Security Plugin */
object[type*='application/gas-events'] {
	display: none;
}

.display-inline {
	display: inline;
}

.spinner input {
	text-align: right;
}

.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}

.input-group-btn-vertical>.btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}

.input-group-btn-vertical>.btn:first-child {
	border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
	position: absolute;
	top: 0;
	left: 4px;
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}

.inRowCheckbox {
	width: 30px;
	margin: 0px !important;
}

.expand-description {
	cursor: pointer;
	cursor: hand;
}

/* Radio Buttons */

.os-radio div {
  clear: both;
  overflow: hidden;
}

.os-radio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.os-radio input[type="radio"]:empty,
.os-radio input[type="checkbox"]:empty {
  display: none;
}

.os-radio input[type="radio"]:empty ~ label,
.os-radio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.os-radio input[type="radio"]:empty ~ label:before,
.os-radio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.os-radio input[type="radio"]:hover:not(:checked) ~ label,
.os-radio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.os-radio input[type="radio"]:hover:not(:checked) ~ label:before,
.os-radio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.os-radio input[type="radio"]:checked ~ label,
.os-radio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.os-radio input[type="radio"]:checked ~ label:before,
.os-radio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.os-radio input[type="radio"]:focus ~ label:before,
.os-radio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.os-radio-default input[type="radio"]:checked ~ label:before,
.os-radio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.os-radio-primary input[type="radio"]:checked ~ label:before,
.os-radio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.os-radio-success input[type="radio"]:checked ~ label:before,
.os-radio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.os-radio-danger input[type="radio"]:checked ~ label:before,
.os-radio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.os-radio-warning input[type="radio"]:checked ~ label:before,
.os-radio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.os-radio-info input[type="radio"]:checked ~ label:before,
.os-radio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/* Tour overlay hack */
.popover[class*=tour-]{
	z-index: 9999 !important;
}

a[href="http://www.amcharts.com/javascript-charts/"] { display: none !important }