/* Adjust on all resolution */
body, html {
	height: 100%;
}

/* Remove outisde padding */
.main .row {
	padding: 0px;
	margin: 0px;
}

/* Remove rounded corners */
nav.sidebar.navbar {
	border-radius: 0px;
}

/* Transition animation */
nav.sidebar, .main {
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main {
	padding: 10px 10px 0 10px;
}

/* Media query below because bootstrap didn't have automatic partial hidden */
@media ( min-width : 768px) {
	.main {
		position: absolute;
		width: calc(100% - 40px); /* Using 40px for nav size*/
		margin-left: 40px;
		float: right;
	}

	/* Show the navbar on mouse hover */
	nav.sidebar:hover+.main {
		margin-left: 200px;
	}
	nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
		{
		margin-left: 0px;
	}
	nav.sidebar .navbar-brand, nav.sidebar .navbar-header {
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}

	/* Center font awesome icons */
	nav.sidebar a {
		padding-right: 13px;
	}

	/* Default border was ugly */
	nav.sidebar .navbar-nav>li:first-child {
		border-top: 1px #e5e5e5 solid;
	}
	nav.sidebar .navbar-nav>li {
		border-bottom: 1px #e5e5e5 solid;
	}
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	/* Fixes bug in dual monitor */
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
		padding: 0 0px 0 0px;
	}

	/* Color for dropdown box text */
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #777;
	}

	/* Navbar size */
	nav.sidebar {
		width: 200px;
		height: 100%;
		margin-left: -160px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
	}

	/* Fixes bug in dual monitor */
	nav.sidebar li {
		width: 100%;
	}

	/*  Full navbar on mouse hover */
	nav.sidebar:hover {
		margin-left: 0px;
	}
	.forAnimate {
		opacity: 0;
	}
}

/* Bootstrap lg */
@media ( min-width : 1330px) {
	.main {
		width: calc(100% - 200px); /* When navbar is full, using 200px */
		margin-left: 200px;
	}
	nav.sidebar {
		margin-left: 0px;
		float: left;
	}
	nav.sidebar .forAnimate {
		opacity: 1;
	}
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus
	{
	color: #CCC;
	background-color: transparent;
}

nav:hover .forAnimate {
	opacity: 1;
}

section {
	padding-left: 15px;
}

.font-16 {
	font-size: 16px;
}

.hr {
	border-bottom: 2px solid #E6E9ED;
	padding: 1px 5px 6px;
	margin-bottom: 10px;
}